<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>d3.js</title>
  </head>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <style>
  .axis path,
  .axis line{
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
  }

  .axis text {
      font-family: sans-serif;
      font-size: 11px;
  }
  </style>

  <body>
    {{message}}
  </body>
  <script>
  //画布大小
  var width = 400;
  var height = 400;

  //在 body 里添加一个 SVG 画布
  var svg = d3.select("body")
      .append("svg")
      .attr("width", width)
      .attr("height", height);

  //画布周边的空白
  var padding = {left:30, right:30, top:20, bottom:20};
  //定义一个数组
  var dataset = [10, 20, 30, 40, 33, 24, 12, 5];

  //x轴的比例尺
  var xScale = d3.scale.ordinal()
      .domain(d3.range(dataset.length))
      .rangeRoundBands([0, width - padding.left - padding.right]);

  //y轴的比例尺
  var yScale = d3.scale.linear()
      .domain([0,d3.max(dataset)])
      .range([height - padding.top - padding.bottom, 0]);
  //定义x轴
  var xAxis = d3.svg.axis()
      .scale(xScale)
      .orient("bottom");

  //定义y轴
  var yAxis = d3.svg.axis()
      .scale(yScale)
      .orient("left");
  //矩形之间的空白
  var rectPadding = 4;

  //添加矩形元素
  var rects = svg.selectAll(".MyRect")
          .data(dataset)
          .enter()
          .append("rect")
          .attr("class","MyRect")
          .attr("transform","translate(" + padding.left + "," + padding.top + ")")
          .attr("fill","blue")
          .transition()
          .duration(10000)
          .delay(function(d,i){
            return 500*i;
          })
          .attr("fill","red")
          .attr("x", function(d,i){
              return xScale(i) + rectPadding/2;
          })
          // .transition()
          // .duration(2000)
          // .ease("bounce")
          .attr("y",function(d){
              return yScale(d);
          })
          .attr("width", xScale.rangeBand() - rectPadding )
          .attr("height", function(d){
              return height - padding.top - padding.bottom - yScale(d);
          });

  //添加文字元素
  // var texts = svg.selectAll(".MyText")
  //         .data(dataset)
  //         .enter()
  //         .append("text")
  //         .attr("class","MyText")
  //         .attr("transform","translate(" + padding.left + "," + padding.top + ")")
  //         .attr("fill","white")
  //         .attr("x", function(d,i){
  //             return xScale(i) + rectPadding/2;
  //         } )
  //         .attr("y",function(d){
  //             return yScale(d);
  //         })
  //         .attr("dx",function(){
  //             return (xScale.rangeBand() - rectPadding)/2;
  //         })
  //         .attr("dy",function(d){
  //             return 20;
  //         })
  //         .text(function(d){
  //             return d;
  //         });
    //添加x轴
    svg.append("g")
      .attr("class","axis")
      .attr("transform","translate(" + padding.left + "," + (height - padding.bottom) + ")")
      .call(xAxis);

    //添加y轴
    svg.append("g")
      .attr("class","axis")
      .attr("transform","translate(" + padding.left + "," + padding.top + ")")
      .call(yAxis);




  // 第二个图形
  // var circle = svg.append("circle")
  //       .attr("cx", 100)
  //       .attr("cy", 100)
  //       .attr("r", 45)
  //       .style("fill","blue");

  // //在1秒（1000毫秒）内将圆心坐标由100变为300
  // circle1.transition()
  //     .duration(1000)
  //     .attr("cx", 300);

      // var circle3 = svg.append("circle")... //与第一个圆一样，省略部分代码
    //
    // //在2秒（2000毫秒）内将圆心坐标由100变为300
    // //将颜色从绿色变为红色
    // //将半径从45变成25
    // //过渡方式采用bounce（在终点处弹跳几次）
    // circle.transition()
    //     .duration(2000)
    //     .ease("bounce")
    //     .attr("cx", 300)
    //     .style("fill","red")
    //     .attr("r", 25);

  </script>
</html>
